@model IndexViewModel
<br />
@if (Model.Coupon.ToList().Count > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500" style="height:150px">
            @for (int i = 0; i < Model.Coupon.Count(); i++)
            {
                if (i == 0) //first coupon
                {
                    <div class="carousel-item active" style="height:150px">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgscr = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgscr" height="150" class="d-block w-100" />
                    </div>
                }
                else
                {
                    <div class="carousel-item" style="height:150px">

                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgscr = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgscr" height="150" class="d-block w-100" />
                    </div>
                }

            }
        </div>
    </div>
}

<br/><br/>
<div class="backgroundWhite container">
    @foreach (var item in Model.Category)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_MenuItemThumbnailPartialView" 
                     model="@Model.MenuItem.Where(m=>m.Category.Name.Equals(item.Name))" />
        </div>
    }
</div>
